# http://editorconfig.org
root = true

[*]
indent_style = space #设置缩进和tab
indent_size = 2
end_of_line = lf
charset = utf-8
trim_trailing_whitespace = true
insert_final_newline = true

[*.md]
trim_trailing_whitespace = false #去掉空白字符和缩进
